@import './reset.css';

@font-face {
  font-family: 'Pretendard'; /* 사용하고 싶은 font-family명을 지정 */
  src: url('../assets/font/PretendardVariable.ttf') format('opentype'); /* 폰트파일 불러오기 */
}

body * {
  outline: solid 1px;
  font-family: 'Pretendard';
}

.root-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 1100px; /* 최대 너비 설정 */
}

.row-container {
  display: flex;
  flex-flow: row wrap;
  /* 아래의 두 줄을 줄여 쓴 것 */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.main-row-container {
  display: flex;
  /* 아래의 두 줄을 줄여 쓴 것 */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.main-section-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 40px;
  align-items: center;
  padding: 0px 16px;
  /* justify-content: center; */
}
.main-nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* justify-content: center; */
}

.flex-item {
  flex-basis: 0;
}

.header-item {
  /* flex-basis: 70px; */
}
.header-logo {
  font-size: 30px;
  font-weight: bold;
}
.header-logo i,
.header-logo {
  vertical-align: middle;
}
.header-logo i {
  font-size: 31px;
  color: #4361cf;
  margin-right: 10px;
}
.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; /* 세로 방향 가운데 정렬 */
  /* height: 104px; */
  padding: 0px 16px;
}

.nav-item {
  /* flex-basis: 104px; */
  flex-basis: 100%;
  /* display: flex; */
  padding: 0px 16px;
}
.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.nav-contents-container {
  display: flex;
  outline: solid 2px #d2dae0;
  background-color: #f6f7f9;
  align-items: center;
  padding: 0 20px;
  height: 50%;
  width: 45%;
  font-size: 14px;
}

.nav-contents-headline {
  margin-left: 20px;
  max-width: 370px; /* 요소의 최대 너비 설정 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 내용이 너비를 초과할 경우 숨김 처리 */
  text-overflow: ellipsis; /* 내용이 너비를 초과할 경우 말줄임표로 표시 */
  font-weight: bold;
  font-size: 14px;
  color: #5f6e76;
}
.nav-contents-press-name {
  min-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 1100px; /* 최대 너비 설정 */
  font-size: 24px;
}

.contents-select {
  font-weight: bold;
}

.main-nav-contents {
  margin-right: 20px;
}

.press-logo-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 388px; /* 높이 설정 */
  flex-basis: 100%;
  justify-content: center;
  padding: 0px 16px;
}

ul.press-logo-container > li {
  background-color: #f0f0f0;
  /* 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 부모 컨테이너 높이에 맞춤 */
  outline: solid 1px red;
}

.media-subscription-box {
  display: flex;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  width: 130px;
  height: 55px; /* 컨테이너의 높이 설정, 필요에 따라 조정 */
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 930px; /* 너비 설정 */
  height: 388px; /* 높이 설정 */
  flex-basis: 100%;
  justify-content: center;
}

.icon-select-blue {
  color: #7890e7;
}
.press-container {
  /* display: flex; */
  position: relative;
  justify-content: flex-start;
}

.angle-left {
  position: absolute;
  font-size: 4em;
  top: 40%;
  right: 100%;
  opacity: 50%;
}
.angle-right {
  position: absolute;
  font-size: 4em;
  top: 40%;
  left: 100%;
  opacity: 50%;
}
