.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  max-width: 1100px; /* 최대 너비 설정 */
  font-size: 24px;
}

.main-tab-container1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main-tab-container1 > .contents-select {
  font-weight: bold;
  color: #14212b;
}

.main-tab-container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 70px;
}
.main-tab-container2 > i:first-child {
  font-size: 26px;
}

.main-tab-contents {
  margin-right: 20px;
  font-size: 20px;
  color: #4b5966;
}

.press-logo-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  flex-basis: 100%;
  justify-content: center;
  padding: 0px 16px;
}

ul.press-logo-container > li {
  /* 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #d2dae0;
  border-left: solid 1px #d2dae0;
}

ul.press-logo-container > li:nth-child(6n) {
  border-right: solid 1px #d2dae0; /* 6의 배수 아이템에 오른쪽 테두리 적용 */
}

ul.press-logo-container > li:nth-child(1),
ul.press-logo-container > li:nth-child(2),
ul.press-logo-container > li:nth-child(3),
ul.press-logo-container > li:nth-child(4),
ul.press-logo-container > li:nth-child(5),
ul.press-logo-container > li:nth-child(6) {
  border-top: solid 1px #d2dae0;
}

.media-subscription-box {
  display: flex;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  width: 130px;
  height: 55px; /* 컨테이너의 높이 설정, 필요에 따라 조정 */
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 930px; /* 너비 설정 */
  height: 388px; /* 높이 설정 */
  flex-basis: 100%;
  justify-content: center;
}

.icon-select-blue {
  color: #7890e7;
}
.press-news-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 388px;
  /* width: 1100px; */
  padding: 0px 16px;
}

#angle-left {
  position: absolute;
  font-size: 3em;
  top: 40%;
  right: 100%;
  opacity: 50%;
  cursor: pointer;
}
#angle-right {
  position: absolute;
  font-size: 3em;
  top: 40%;
  left: 100%;
  opacity: 50%;
  cursor: pointer;
}

#list-tab,
#grid-tab {
  cursor: pointer;
}

.listview-container {
  display: block;
  width: 100%;
  /*  */
  height: 100%;
  flex-basis: 100%;
  justify-content: center;
  /* padding: 0px 16px; */
}
.category-bar {
  display: flex;
  /* height: 10%; */
  height: 40px;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: flex-start;
  outline: solid 2px #d2dae0;
  background-color: #f6f7f9;
}
.category-bar > div {
  display: flex;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  height: 100%;
  flex-basis: 150px;
}
.category-select {
  background-color: #7890e7;
}
.grid-oprion-select {
  fill: #4362d0;
}
.grid-oprion {
  fill: #879298;
}

.news-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  /* height: 470px; */
  outline: solid 2px #d2dae0;
}
.news-logo {
  display: flex;
  align-items: center; /* 세로 방향 가운데 정렬 */
  flex-basis: 15%;
  padding: 0px 26px;
}
.news-logo > :nth-child(1),
.news-logo > :nth-child(2),
.news-logo > :nth-child(3) {
  margin-right: 20px;
}

.news-datas {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  flex-basis: 85%;
  padding: 25px;
}

.main-news {
  /* width: 30%; */

  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* 세로 방향 가운데 정렬 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
}

.main-news > :nth-child(2) {
  height: 20%;
  width: 100%;
}
.sub-news {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.sub-news * {
  flex-grow: 1;
}
.sub-news li {
  display: flex;
  align-items: center;
}
.sub-news a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 100%;
  line-height: 20px;
  padding: 0 20px;
  /* vertical-align: top; */
}
