.nav-item {
  /* flex-basis: 104px; */
  flex-basis: 100%;
  /* display: flex; */
  padding: 0px 16px;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.nav-contents-container {
  display: flex;
  outline: solid 2px #d2dae0;
  background-color: #f6f7f9;
  align-items: center;
  padding: 0 20px;
  height: 50%;
  min-width: 270px;
  max-width: 470px;
  font-size: 17px;
  /* 롤링 배너 영역 벗어나는 부분 숨기기 */
  /* overflow: hidden; */
}

.nav-contents-container a {
  text-decoration: none;
  display: block;
}

.nav-contents-press-name {
  /* min-width: 60px; */
  display: flex;
  width: 80%;
  font-weight: bold;
}

.nav-contents-headline a,
.nav-contents-press-name a {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 내용이 너비를 초과할 경우 숨김 처리 */
  text-overflow: ellipsis; /* 내용이 너비를 초과할 경우 말줄임표로 표시 */
}

.nav-contents-headline {
  /* width: 370px;  */
  width: 80%;
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
  color: #5f6e76;
}

.banner_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rolling_active {
  animation: roll 10s linear infinite;
}

.banner_list > li {
  margin-top: 30px;
  background-color: red;
}

/* 첫 번째 배너 리스트가 끝나면 뒤에 바로 두 번째 배너 리스트가 붙도록 설정 */
/* .banner_list:last-child {
  animation-delay: 10s;
} */

/* 왼쪽 바 설정 */
/* .nav-contents-container.left .banner_list {
  animation: roll 5s linear infinite;
} */

/* 오른쪽 바 설정 (1초 지연) */
.nav-contents-container.right .banner_list {
  animation: roll 5s linear infinite 1s; /* 1초 지연 추가 */
}

/* 롤링 애니메이션 정의 */
@keyframes roll {
  0% {
    /* transform: translateY(10%); */
    transform: translateY(10%);
  }
  100% {
    /* transform: translateY(-60%); */
    /* transform: translateY(calc(-17px * 2 - 10px * 10)); */
    transform: translateY(calc(-25px * 2));
  }
}

/* .banner 클래스를 가진 10개의 요소가 있고, 
각 요소의 너비가 200px이며, 마진 값이 10px이므로 총 이동해야 할 거리가 200px 10 + 10px 10 = 2100px 이 되기 때문임 */
