.nav-item {
  /* flex-basis: 104px; */
  flex-basis: 100%;
  /* display: flex; */
  padding: 0px 16px;
}
.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 104px;
}

.nav-contents-container {
  display: flex;
  outline: solid 2px #d2dae0;
  background-color: #f6f7f9;
  align-items: center;
  padding: 0 20px;
  height: 50%;
  width: 45%;
  font-size: 17px;
}

.nav-contents-headline > a {
  text-decoration: none;
  display: block;
}

.nav-contents-headline {
  margin-left: 20px;
  max-width: 370px; /* 요소의 최대 너비 설정 */
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 내용이 너비를 초과할 경우 숨김 처리 */
  text-overflow: ellipsis; /* 내용이 너비를 초과할 경우 말줄임표로 표시 */
  font-weight: bold;
  font-size: 17px;
  color: #5f6e76;
}
.nav-contents-press-name {
  min-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
